.contain {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: auto;
  margin-top: 2rem;
  border: 3px solid #000000;
  border-radius: 0.5rem;
  background-color: #3e4a63;
  padding-bottom: 1rem;
}

.MuiInputLabel-root {
  margin-left: 2rem;
}
